
[submodule "tf2_web_republisher_py"]
	path = tf2_web_republisher_py
	url = https://github.com/Wisc-HCI/tf2_web_republisher_py.git
[submodule "src/tf2_web_republisher_py"]
	path = src/tf2_web_republisher_py
	url = https://github.com/Wisc-HCI/tf2_web_republisher_py.git
