<?xml version="1.0"?>
<launch>
  <node pkg="hardware_monitor" type="sendHunter.py" name="scvStatus" output="screen"/>
  <node pkg="Tf2WebRepublisher" type="tf2_web_republisher" name="tf2_web_republisher" output="screen"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>